.logo-title {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

.logo-title img {
    flex: 1 1 5px;
}

h1 {
    font-family: "Amatic SC", sans-serif;
    font-weight: 500;
    font-size: 200px;
    font-style: normal;
    flex: 1 1 200px;
}

h2 {
    font-family: "Amatic SC", sans-serif;
    font-weight: 250;
    font-style: normal;
    font-size: 100px;
    color: rgb(0, 90, 142);
}

hr {
    border: solid;
    width: 90;
}

.search-bar {
    display: flex;
    max-height: 100px;
}

.search-bar img {
    max-height: 100px;
    max-width: 100px;
}

.search-bar hr {
    height: 90%;
}

.recipe {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1em;
}

.recipe img {
    flex: 1 1 200px
}

.rating {
    display: flex;
}

.footer {
    display: flex;
    flex-direction: row;
}

.social-icons {
    max-height: 50px;
    max-width: 50px;
    justify-content: flex-end;
}